.footer-container {
  background-color: #fff; /* fondo blanco */
  color: #0077ff; /* azul brillante */
  padding: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  text-shadow: 0 0 8px #0077ff;
}
