.footer-container {
  background-color: #000;
  color: #00ffee; /* texto neón azul claro */
  padding: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  text-shadow: 0 0 8px #00ffee;
}
