.layout-container {
  min-height: 100vh;
  background-color: #000;  // fondo negro
  color: #fff;             // texto blanco para visibilidad
  display: flex;
  flex-direction: column;


  .body {
    flex: 1;  // para que tome todo el espacio disponible
    padding: 20px;
  }

}
