.layout-container {
  min-height: 100vh;
  background-color: #fff; /* fondo blanco */
  color: #0077ff;         /* texto azul */
  display: flex;
  flex-direction: column;

  .body {
    flex: 1;  /* para que tome todo el espacio disponible */
    padding: 20px;
  }
}
