.home-container {
  background-color: #fff; /* fondo blanco */
  color: #0077ff; /* azul brillante */
  height: 100vh; /* ocupa toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0 0 8px #0077ff;
}
