.home-container {
  background-color: #000;
  color: #00ffee; /* texto neón azul claro */
  height: 100vh; /* para que ocupe toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0 0 8px #00ffee;
}
